# Everything
*

# Except for the following

## Source code
!src
!src/**

# The cargo files
!Cargo.toml

## Github workflows
!.github
!.github/**

## Batch scripts
!*.bat

## The license and readme
!LICENSE
!README.md

## The submodules
!plugins/Iris/packs/overworld
!plugins/Iris/Iris